@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

/*
    *   NAVBAR SECTION
    */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  padding: 0 4.5em;
}

.navbar h3 {
  font-size: 1.5em;
}

.navbar .theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 14px;
}

.icons {
  height: 1em;
}

.search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em 4.5em 2em 4.5em;
}

.searchandfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 4em;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  border-radius: 5px;
}

.searchandfilter .search-icon {
  height: 1.5em;
  margin-left: 1em;
}

.searchandfilter input {
  margin-left: 1em;
  border: none;
  width: 85%;
}

.searchandfilter input:focus {
  outline: none;
}

.search {
  width: 32em;
}

.filter {
  width: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 10em;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards {
  background-color: white;
  border-radius: 5px;
  width: 20em;
  height: 26em;
  margin: 1em 2em 2em 2em;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  cursor: pointer;
}

.cards .cards-flag {
  width: inherit;
  height: 12em;
}

.cards img {
  width: 20em;
  height: inherit;
}

.cards .cards-contents {
  padding: 0 1em 1em 1em;
}

.cards-contents h3,
.country-contents-container h3 {
  font-weight: 800;
}

.cards-contents p,
.country-contents-container p {
  font-weight: 600;
}

.cards-contents p span,
.country-contents-container p span {
  font-weight: 300;
}

/*
*   DETAILS PAGE SECTION
*/
.details-page {
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 2em 0.75em 1.75em;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.back-btn .icons {
  height: 1.5em;
  margin-right: 0.8em;
}

.back-btn p {
  font-weight: 300;
  margin: -0.2em;
}

.country-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4em;
  font-size: 16px;
  width: calc(100vw - 8em);
  height: 50vh;
}

.country-details .flag {
  width: 40%;
  height: 100%;
}

.country-details .country-contents-container {
  width: calc((100vw / 2));
  padding: 0 0 0 4em;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

.country-details .country-contents-container h3 {
  font-size: 24px;
}

.country-details .country-contents-container .country-details-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country-details .country-contents-container .border-countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country-details .country-contents-container .border-countries .border-countries-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  padding: 0.5em 2em;
  margin-top: 1em;
  margin-right: 1em;
}

.country-details .country-contents-container .border-countries .border-countries-btn:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  /*
    *   NAVBAR SECTION
    */
  .navbar {
    padding: 1em 2em;
  }
  .navbar h3 {
    font-size: 14px;
  }
  .navbar .theme-switch {
    font-weight: 600;
  }
  /*
    *   HOME PAGE SECTION
    */
  /*
    *   SEARCH AND FILTER
    */
  .search-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em;
  }
  .searchandfilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .searchandfilter .search-icon {
    margin-left: 2em;
  }
  .searchandfilter input {
    margin-left: 1.5em;
  }
  .search {
    width: 90%;
    margin: 2em 1em 4em 1em;
  }
  .filter {
    width: 12em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1em;
  }
  .select {
    width: 10em;
  }
  /*
    *   CARDS SECTION
    */
  .cards-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards {
    width: 18em;
  }
  .cards .cards-flag {
    height: 12em;
  }
  .cards img {
    width: inherit;
    height: inherit;
  }
  /*
    *   DETAILS PAGE SECTION
    */
  .details-page {
    padding: 2em;
    margin: 0 auto;
  }
  .country-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 3em;
  }
  .country-details .flag {
    width: 100%;
    height: 30vh;
  }
  .country-details .country-contents-container {
    width: 100%;
    padding: 0;
  }
  .country-details .country-contents-container h3 {
    padding-top: 1em;
  }
  .country-details .country-contents-container .contents-left,
  .country-details .country-contents-container .border-countries {
    margin-top: -1em;
  }
  .country-details .country-contents-container .country-details-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */