@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  padding: 0 4.5em;
}

.navbar .theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  height: 1em;
}

.search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em 4.5em 2em 4.5em;
}

.searchandfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 4em;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  border-radius: 5px;
}

.searchandfilter .search-icon {
  margin-left: 1em;
}

.searchandfilter input {
  margin-left: 1em;
  border: none;
  width: 85%;
}

.search {
  width: 32em;
}

.filter {
  width: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 10em;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards {
  background-color: white;
  border-radius: 5px;
  width: 20em;
  height: 26em;
  margin: 1em 2em 2em 2em;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
}

.cards .cards-flag {
  width: inherit;
  height: 12em;
}

.cards img {
  width: 20em;
  height: inherit;
}

.cards .cards-contents {
  padding: 0 1em 1em 1em;
}

.cards-contents h3,
.country-contents-container h3 {
  font-weight: 800;
}

.cards-contents p,
.country-contents-container p {
  font-weight: 600;
}

.cards-contents p span,
.country-contents-container p span {
  font-weight: 300;
}

.details-page {
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75em 2em 0.75em 1.75em;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.back-btn .icons {
  height: 1.5em;
  margin-right: 0.8em;
}

.back-btn p {
  font-weight: 300;
  margin: -0.2em;
}

.country-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4em;
  font-size: 16px;
  width: calc(100vw - 8em);
}

.country-details .flag {
  width: 40%;
  height: inherit;
}

.country-details .country-contents-container {
  width: calc((100vw / 2));
  padding: 1em 0 1em 4em;
}

.country-details .country-contents-container h3 {
  font-size: 32px !important;
}

.country-details .country-contents-container .country-details-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country-details .country-contents-container .border-countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country-details .country-contents-container .border-countries .border-countries-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px #ccc;
          box-shadow: 0px 2px 10px #ccc;
  width: 6em;
  font-size: 12px;
  padding: 0.5em 2em;
  margin-right: 1em;
}
/*# sourceMappingURL=style.css.map */