@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$darkModeElements: hsl(209, 23%, 22%);
$white: hsl(0, 0%, 100%); //dark mode text and light mode elements

$darkModeBackground: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBackground: hsl(0, 0%, 98%);

$shadow: 0px 2px 10px #aaa;
$radius: 5px;

*,
*::after,
*::before {
    box-sizing: border-box;
}

$themes: (
    light: (
        elementsColor: $white,
        textColor: $lightModeText,
        shadow: 0px 2px 10px #aaa,
    ),
    dark: (
        elementsColor: $darkModeElements,
        textColor: $white,
        shadow: 0px 2px 5px #222,
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}
@function themed($key) {
    @return map-get($theme-map, $key);
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    background-color: $lightModeBackground;
    color: $lightModeText;
}

/*
    *   NAVBAR SECTION
    */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5em;

    z-index: 10;
    h3 {
        font-size: 1.5em;
    }
    .theme-switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 800;
        font-size: 14px;
        cursor: pointer;
    }
    @include themify($themes) {
        background-color: themed("elementsColor");
        box-shadow: themed("shadow");
    }
}
.icons {
    height: 1em;
}
// search and filter section
.search-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3em 4.5em 2em 4.5em;
}
.searchandfilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;

    border-radius: $radius;
    @include themify($themes) {
        background-color: themed("elementsColor");
        box-shadow: themed("shadow");
    }
    .search-icon {
        height: 1.5em;
        margin-left: 1em;
    }
    input {
        margin-left: 1em;
        border: none;
        width: 85%;
        @include themify($themes) {
            background-color: themed("elementsColor");
            color: themed("textColor");
        }
        &:focus {
            outline: none;
        }
    }
}
.search {
    width: 32em;
}
.filter {
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select {
    width: 10em;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
    @include themify($themes) {
        background-color: themed("elementsColor");
        color: themed("textColor");
    }
}
// Cards section
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // width: calc(100vw - 8em);
    margin: 0 auto;
}

.cards {
    border-radius: $radius;
    width: 20em;
    height: 26em;
    margin: 1em 1em 2em 1em;
    box-shadow: $shadow;

    cursor: pointer;
    .cards-flag {
        width: inherit;
        height: 12em;
    }
    img {
        width: 20em;
        height: inherit;
    }

    .cards-contents {
        padding: 0 1em 1em 1em;
    }

    @include themify($themes) {
        background-color: themed("elementsColor");
        box-shadow: themed("shadow");
    }
}

.cards-contents,
.country-contents-container {
    h3 {
        font-weight: 800;
    }
    p {
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }
}
/*
*   DETAILS PAGE SECTION
*/
.details-page {
    padding: 4em;
    display: flex;
    flex-direction: column;
}
.back-btn {
    display: flex;
    align-items: center;
    padding: 0.75em 2em 0.75em 1.75em;
    border: none;
    border-radius: $radius;
    width: max-content;
    cursor: pointer;
    .icons {
        height: 1.5em;
        margin-right: 0.8em;
    }
    p {
        font-weight: 300;
        margin: -0.2em;
    }
    @include themify($themes) {
        background-color: themed("elementsColor");
        box-shadow: themed("shadow");
        color: themed("textColor");
    }
}

.country-details {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    font-size: 16px;
    width: calc(100vw - 8em);
    height: 50vh;

    .flag {
        width: 40%;
        height: 100%;
    }

    .country-contents-container {
        width: calc((100vw / 2));
        padding: 0 0 0 4em;
        height: max-content !important;

        h3 {
            font-size: 24px;
        }

        .country-details-contents {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .border-countries {
            display: flex;
            flex-direction: row;
            align-items: center;

            .border-countries-btn {
                border: none;
                border-radius: $radius;
                width: max-content;
                font-size: 12px;
                padding: 0.5em 2em;
                margin-top: 1em;
                margin-right: 1em;

                @include themify($themes) {
                    background-color: themed("elementsColor");
                    box-shadow: themed("shadow");
                    color: themed("textColor");
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    $padding: 2em;

    /*
    *   NAVBAR SECTION
    */
    .navbar {
        padding: 1em $padding;

        h3 {
            font-size: 14px;
        }
        .theme-switch {
            font-weight: 600;
        }
    }
    /*
    *   HOME PAGE SECTION
    */
    /*
    *   SEARCH AND FILTER
    */
    .search-filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 1em;
    }
    .searchandfilter {
        display: flex;
        flex-direction: row;

        .search-icon {
            margin-left: 2em;
        }
        input {
            margin-left: 1.5em;
        }
    }
    .search {
        width: 90%;
        margin: 2em 1em 4em 1em;
    }
    .filter {
        width: 12em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
    }
    .select {
        width: 10em;
    }
    /*
    *   CARDS SECTION
    */
    .cards-container {
        align-items: center;
    }
    .cards {
        width: 18em;

        .cards-flag {
            height: 12em;
        }
        img {
            width: inherit;
            height: inherit;
        }
    }
    /*
    *   DETAILS PAGE SECTION
    */

    .details-page {
        padding: $padding;
        margin: 0 auto;
    }
    .country-details {
        flex-direction: column;
        width: 100%;
        height: max-content;
        margin-top: 3em;

        .flag {
            width: 100%;
            height: 30vh;
        }

        .country-contents-container {
            width: 100%;
            padding: 0;

            h3 {
                padding-top: 1em;
            }
            .contents-left,
            .border-countries {
                margin-top: -1em;
            }
            .country-details-contents {
                flex-direction: column;
            }
        }
    }
}
